@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@theme {
    --color-primary-50: #f3faf3;
    --color-primary-100: #e3f5e3;
    --color-primary-200: #c8eac9;
    --color-primary-300: #9dd89f;
    --color-primary-400: #6bbd6e;
    --color-primary-500: #4caf50;
    --color-primary-600: #358438;
    --color-primary-700: #2d6830;
    --color-primary-800: #275429;
    --color-primary-900: #224525;
    --color-primary-950: #0e2510;
    --color-secondary-50: #f4fce9;
    --color-secondary-100: #e7f7d0;
    --color-secondary-200: #d0efa7;
    --color-secondary-300: #a8e063;
    --color-secondary-400: #94d348;
    --color-secondary-500: #74b929;
    --color-secondary-600: #58931d;
    --color-secondary-700: #44711a;
    --color-secondary-800: #395a1a;
    --color-secondary-900: #314c1b;
    --color-secondary-950: #172a09;
    --color-gray-50: #f6f6f6;
    --color-gray-100: #e7e7e7;
    --color-gray-200: #d1d1d1;
    --color-gray-300: #b0b0b0;
    --color-gray-400: #808080;
    --color-gray-500: #6d6d6d;
    --color-gray-600: #5d5d5d;
    --color-gray-700: #4f4f4f;
    --color-gray-800: #454545;
    --color-gray-900: #3d3d3d;
    --color-gray-950: #262626;
    --font-primary: "Raleway", "serif";
    --font-primary-alt: "Poppins", "serif";
    --font-secondary: "Merriweather", "serif";
}